/* {
    outline: 3px solid black;
}*/
:root {
    --container-padding: 4em 2vmax;
    --padding-top-bottom: 4em;
    --padding-left-right: 2vmax;
    --gutter: 3%;
}

.container.padding-top-bottom {
    padding: var(--padding-top-bottom) 0;
}

.container.no-padding-top-bottom {
    padding: 0 var(--padding-left-right);
}

#nosotros header {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#mapa-nosotros {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 0;
}

#nosotros .grid-header {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 1;
}

#header-image-nosotros {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: -1;
}

.padding-top {
    padding-top: 33px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: var(--container-padding);
}

.container-sequel {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2vmax;
}

.container.grid-header {
    padding-top: 0;
    padding-bottom: 2em;
}

.container.no-padding {
    padding: 0;
}

.no-padding {
    padding: 0;
}

.wrapper-text {
    padding: 0 15%;
    box-sizing: border-box;
}

.inline li {
    display: inline-block;
}

.order-0 {
    order: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

label, legend, fieldset {
    padding: 10px 1em 2px;
    display: block;
}

legend {
    padding-top: 2em;
}

.hour fieldset, .hour legend {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

/*************** Mobile Navigation **************/
#menu-mobile {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*** INPUT ***/
#menu-mobile input {
    width: auto;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*** LABEL ***/
#menu-mobile label {
    width: 25px;
    cursor: pointer;
    display: block;
    padding: 1em;
    position: absolute;
    right: 4vmax;
    top: calc(2vmax + 10px);
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: var(--light);
    height: 3px;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon {
    /*max-width: 1em;*/
    height: 3px;
    position: relative;
}

#menu-mobile label #menu-icon {
    float: right;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon:before {
    top: -8px;
}

#menu-icon:after {
    bottom: -8px;
}

/* Close Icon */
#menu-mobile input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}

#menu-mobile input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
    background: var(--dark);
}

#menu-mobile input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
    background: var(--dark);
}

#menu-mobile input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}

/*** MENU ***/
/* Overlay */
#menu-mobile input:checked ~ #overlay {
    background: var(--light);
    bottom: 0;
    left: 0;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

#menu-mobile input:checked ~ label[for=menu-mobile-toggle] {
    position: fixed;
}

/* List */
.menu-mobile-content {
    height: 70%;
    width: 100%;
    left: 0;
    top: 15%;
    display: none;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

#menu-mobile input:checked ~ .menu-mobile-content {
    display: flex;
    max-height: inherit;
    position: fixed;
    opacity: 1;
}

#menu-mobile ul > li {
    margin: 0.5em 0;
}


/*TODO: choose correct colors*/
.menu-mobile-content a:link {
    color: var(--dark);
}

.menu-mobile-content a:hover {
    color: var(--dark);
}

.menu-mobile-content a:active {
    color: var(--dark);
}

.menu-mobile-content a:visited {
    color: var(--dark);
}

.product {
    padding-bottom: 4vmax;
    border-radius: 0 0 130% 130% / 10%;
}

.clients .grid-scroll-x {
    align-items: center;
}

.container.gridbigproduct {
    padding-top: 1em;
    padding-bottom: 1em;
}

.extra-articles {
    display: grid;
    grid-auto-flow: column;

}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.extra-articles article {
    text-align: center;
}

.nav-wrapper.desktop {
    padding: 10px 0 30px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3%;
}

.nav-wrapper.mobile {
    display: grid;
    padding: 2vmax 0 10px;
}

.menu-desktop-content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.nav-wrapper.desktop > ul {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.ind-product {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    align-content: start;
    grid-gap: 2%;
}

.pname {
    padding: 0;
    margin: 0;
    grid-column: 1;
    grid-row: 2;
}

.price {
    padding: 0;
    margin: 0;
    grid-column: 1;
    grid-row: 3;
    font-weight: 700;
}

/*noinspection CssRedundantUnit*/
.pimage {
    /*noinspection CssRedundantUnit*/
    grid-column: 1;
    grid-row: 1;
}

.pdescription {
    padding: 0;
    margin: 0 0 22px 0;
    grid-column: 1;
    grid-row: 4;
}

.news-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}

input {
    width: auto;
    display: block;
}

.formbutton {
    padding: 5% 0 0 0;
}

#nuestrocafe .more {
    text-align: center;
}

#nuestrocafe .grid-scroll-x {
    text-align: center;
}

.center-text {
    text-align: center;
}

.center-button {
    text-align: center;
}

.grid-conditions {
    grid-gap: 11px;
}

.grid-conditions article {
    padding-top: 33px;
}

#productoorganico li {
    display: inline-block;
}

.grid-4 h3 {
    font-size: 20px;
}

.grid-2-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}

.grid-product-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--gutter);
}

.grid-product-view .product-description {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#premium_organico {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    background: url("images/productos/cafe/granos_de_cafe_premium_organico_batsil_maya.jpg")
    0 0 / cover no-repeat;
}

.grid-product-view form {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.grid-product-view fieldset {
    padding-bottom: 1em;
}

.grid-product-form {
    display: grid;
    grid-auto-flow: column;
    grid-row: 1 / 2;
}

.grid-product-view .product-buy {
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.grid-product-view .product-buy > p {
    font-size: 3em;
}

.grid-product-view > p {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.grid-image-first {
    display: grid;
    grid-template-columns: auto;
    grid-gap: var(--gutter);
}

.image-top-first-round {
    grid-row: 1;
}

#homepage .image-top-first-round img {
    border-radius: 111px;
}

#family h2 {
    margin-bottom: 20px;
}

.desktop-family .yomol p {
    padding: 0 30%;
}

.desktop-family p {
    padding: 0 12%;
}

.desktop-family .grid-conditions {
    margin-top: 22px;
}

.desktop-family .gridthree2 {
    margin-top: 44px;
}

#family .grid-scroll-x {
    align-items: center;
}

@media screen and (max-width: 639px) {

    .gridbigproduct {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
    }

    .product-title {
        grid-column: 1;
        grid-row: 1;
    }

    .grid-scroll-x {
        grid-row: 2;
        grid-gap: calc(var(--gutter) / .2);
    }

    .extra-articles {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }

    .map .extra-articles {
        padding-left: 55px;
    }

    .h2-link {
        grid-column: 2;
        grid-row: 1;
        justify-content: center;
        text-align: right;
    }

    .addbutton1 {
        grid-column: 1;
        grid-row: 3;
    }

    .addbutton2 {
        grid-column: 1;
        grid-row: 4;
    }

    .grid-scroll-x article {
        padding-left: 5px;
        box-sizing: border-box;
    }

    .gridthree1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 11px;
    }

    .gridthree2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 44px;
        align-items: start;
    }

    .gridnews {
        height: 1000px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 11px;
    }

    .grid-2 {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}

@media screen and (min-width: 640px) {
    .grid-scroll-x {
        grid-gap: calc(var(--gutter) / 1);
    }

    .gridthree1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 15px;
    }

    .gridthree2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 15px;
        align-items: start;
    }

    .gridnews {
        height: 600px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 15px;
    }

    .one {
        grid-column: 1;
        grid-row: 1;
    }

    .two {
        grid-column: 2 / 2;
        grid-row: 1;
    }

    .three {
        grid-column: 1;
        grid-row: 2;
    }

    .four {
        grid-column: 2;
        grid-row: 2;
    }
}

@media screen and (max-width: 767px) {

    .container.footer {
        padding-bottom: calc(var(--padding-top-bottom) / 3);
    }

    .grid-six {
        padding: 0 11%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 5px;
    }

    .gridbigproduct {
        padding: var(--gutter) 0;
        display: grid;
        grid-gap: var(--gutter) 0;
        grid-template-columns: var(--gutter) 1fr var(--gutter);
        align-content: start;
    }

    .gridbigproduct > * {
        grid-column: 2 / -2;
    }

    .gridbigproduct > .grid-scroll-x {
        grid-column: 1 / -1;
    }

    .grid-scroll-x {
        overflow-y: hidden;
        display: grid;
        grid-gap: calc(var(--gutter) / 2);
        grid-template-columns: 10px;
        grid-template-rows: auto;
        grid-auto-flow: column;
        grid-auto-columns: calc(50% - var(--gutter) * 2);
        align-items: start;

        overflow-x: scroll;
        scroll-snap-type: x proximity;
        padding-bottom: calc(.75 * var(--gutter));
        margin-bottom: calc(-.25 * var(--gutter));
    }

    .grid-scroll-x:before,
    .grid-scroll-x:after {
        content: '';
        width: 10px;
    }

    /*to here*/
    .addbutton1 {
        margin: 0 13%;
    }

    .addbutton2 {
        margin: 0 13% 8% 13%;
    }

    .grid-2-text-photo {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 22px;
    }

    .grid-history {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 44px;
    }

    .clients h2 {
        max-width: 1100px;
        margin: 5% auto;
        padding-top: var(--padding-top-bottom) var(--padding-left-right) 0;
    }

    .llamada {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: auto;
    }

    #history-title {
        grid-column: 1;
        grid-row: 2;
    }

    #first-art {
        grid-column: 1;
        grid-row: 3;
    }

    #second-art {
        grid-column: 2;
        grid-row: 1 / 4;
    }

    .grid-molido {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 11px;
    }

    .alt-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

    .foot-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

    #office1 {
        grid-column: 1;
        grid-row: 3;
    }

    #office2 {
        grid-column: 2;
        grid-row: 3;
    }

    .logo-footer {
        text-align: center;
        grid-column: 1 / 3;
        grid-row: 4;
    }

    .desktop-family {
        display: none;
    }

    #family h2 {
        font-size: 30px;
    }

    .grid-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-gap: 5px;
    }

    .grid-product-view {
        display: grid;
        grid-template-columns: 1fr;
    }

    #premium_organico {
        height: 30vh;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .grid-product-view .product-description {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #premium_organico {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background: url("images/productos/cafe/granos_de_cafe_premium_organico_batsil_maya.jpg")
        0 0 / cover no-repeat;
    }

    .grid-product-view form {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .grid-product-form {
        display: grid;
        grid-auto-flow: column;
        grid-row: 1 / 2;
    }

    .grid-product-view .product-buy {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .grid-product-view > p {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }
    .grid-news-page {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 13px;
    }
    .ultima-noticia-1 {
        height: 144px;
        background: url(images/noticias/noticia1.jpg) 70% 71% / cover no-repeat;
    }

    #news1 {
        height: 144px;
        background: url(images/noticias/noticia5.jpg) 70% 71% / cover no-repeat;
    }

    #news2 {
        height: 144px;
        background: url(images/noticias/noticia6.jpg) 70% 71% / cover no-repeat;
    }

    #news3 {
        height: 144px;
        background: url(images/noticias/noticia7.jpg) 70% 71% / cover no-repeat;
    }

    #news4 {
        height: 144px;
        background: url(images/noticias/noticia8.jpg) 70% 71% / cover no-repeat;
    }

    #news5 {
        height: 144px;
        background: url(images/noticias/noticia9.jpg) 70% 71% / cover no-repeat;
    }

    #news6 {
        height: 144px;
        background: url(images/noticias/noticia10.jpg) 0% 0% / cover no-repeat;
    }

    #news7 {
        height: 144px;
        background: url(images/noticias/noticia11.jpg) 0% 0% / cover no-repeat;

    }

    #news8 {
        margin-bottom: 55px;
        height: 144px;
        background: url(images/noticias/noticia12.jpg) 0% 0% / cover no-repeat;

    }

}

@media screen and (min-width: 768px) {

    .gridbigproduct {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 22px;
    }

    .grid-six {
        padding: 0 11%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .product-title {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .grid-scroll-x {
        grid-column: 1 / 5;
        grid-row: 2;
    }

    .h2-link {
        grid-column: 3 / 5;
        grid-row: 1;
    }

    .addbutton1 {
        grid-column: 2;
        grid-row: 3;
    }

    .addbutton2 {
        grid-column: 3;
        grid-row: 3;
    }

    .grid-scroll-x {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 22px;
        align-items: start;
    }

    .clients .grid-scroll-x {
        grid-template-columns: repeat(5, 1fr);
    }

    .clients .grid-scroll-x img {
        max-width: 80%;
    }

    .extra-articles {
        grid-template-columns: repeat(2, 1fr);
    }

    .gridthree1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 22px;
    }

    .clients {
        max-width: 1100px;
        margin: 0 auto;
        padding: var(--container-padding);
    }

    .gridthree2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 22px;
        align-items: start;
    }

    .gridthree2 article:last-child {
        grid-column: 3;
        grid-row: 1;
    }

    .llamada {
        display: grid;
        grid-template-columns: 40% auto;
        grid-auto-rows: auto;
        grid-gap: 22px;
    }

    /**/
    .grid-history {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 44px;
    }

    #history-title {
        grid-column: 1;
        grid-row: 2;
    }

    #first-art {
        grid-column: 1;
        grid-row: 3;
    }

    #second-art {
        grid-column: 3;
        grid-row: 1 / 4;
    }
    #proceso .grid-2-text-photo{
        grid-gap: 33px;
    }
    .grid-2-text-photo {
        padding: var(--padding-top-bottom) 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2-text-photo.no-padding {
        padding: 0;
    }

    .grid-2-left-text {
        display: grid;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        grid-template-columns: repeat(2, 1fr);
        order: 1;
    }
    
    #proceso .grid-2-left-text{
        grid-gap: 22px;
    }

    .grid-2-right-text {
        display: grid;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2-left-text > .wrapper-text {
        padding: 0 15% 0;
        grid-column: 1 / 2;
    }

    .grid-2-right-text > .wrapper-text {
        padding: 0 10% 0 15%;
        grid-column: 2 / 3;
    }

    .grid-2-left-image {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .grid-2-right-image {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .pro-art1 {
        grid-column: 1;
        grid-row: 1;
    }

    .pro-img1 {
        grid-column: 2;
        grid-row: 1;
    }

    .pro-art2 {
        grid-column: 2;
        grid-row: 2;
    }

    .pro-img2 {
        grid-column: 1;
        grid-row: 2;
    }

    .grid-molido {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;
        grid-row-gap: 47px;
        grid-column-gap: 20px;
    }

    .mol6 {
        grid-column: 2 / 6;
        grid-row: 2;
    }

    .border-padding {
        padding: 5%;
        border: 2px solid rgba(64,41,10,.5);
        border-radius: 14px;
    }

    .margin-bottom {
        margin-bottom: 4%;
    }

    .grid-ayuda {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 5%;
        grid-template-areas: "faq faq grid-contactanos";
    }

    .grid-contactanos {
        height: 44%;
        grid-area: grid-contactanos;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-row-gap: 5%;
        grid-template-areas: "chat" "call" "mail";
    }

    .faq {
        grid-area: faq;
    }

    .chat {
        grid-area: chat;
    }

    .chat h2 {
        padding: 1% 0% 1% 11%;
        background: url(images/ayuda/sprites_ayuda_iconos.svg) 0% 0% / 9% no-repeat;
    }

    .call {
        grid-area: call;
    }

    .call h2 {
        padding: 1% 0% 1% 11%;
        background: url(images/ayuda/sprites_ayuda_iconos.svg) 0% 49% / 9% no-repeat;
    }

    .help-mail {
        grid-area: mail;
    }

    .help-mail h2 {
        padding: 1% 0% 1% 11%;
        background: url(images/ayuda/sprites_ayuda_iconos.svg) 0% 99% / 9% no-repeat;
    }
    .help-mail form input {
        border: 2px solid rgba(64,41,10,.3);
    }
    .help-mail form textarea {
        border: 2px solid rgba(64,41,10,.3);
        border-radius: 14px;
    }

    .alt-nav {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        grid-gap: 8px;
    }

    .foot-info {
        padding-top: 3%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        grid-gap: 11px;
    }

    .grid-news-page {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 13px;
    }

    .ultima-noticia-1 {
        height: 276px;
        background: url(images/noticias/noticia1.jpg) 70% 71% / cover no-repeat;
    }

    #news1 {
        height: 293px;
        grid-column: 1 / 3;
        grid-row: 1;
        background: url(images/noticias/noticia5.jpg) 70% 71% / cover no-repeat;
    }

    #news2 {
        grid-column: 3;
        grid-row: 1;
        background: url(images/noticias/noticia6.jpg) 70% 71% / cover no-repeat;
    }

    #news3 {
        height: 392px;
        grid-column: 1;
        grid-row: 2 / 4;
        background: url(images/noticias/noticia7.jpg) 70% 71% / cover no-repeat;
    }

    #news4 {
        height: 288px;
        grid-column: 2 / 4;
        grid-row: 2;
        background: url(images/noticias/noticia8.jpg) 70% 71% / cover no-repeat;
    }

    #news5 {
        height: 546px;
        grid-column: 1;
        grid-row: 4 / 7;
        background: url(images/noticias/noticia9.jpg) 70% 71% / cover no-repeat;
    }

    #news6 {
        height: 441px;
        grid-column: 2;
        grid-row: 3 / 7;
        background: url(images/noticias/noticia10.jpg) 0% 0% / cover no-repeat;
    }

    #news7 {
        height: auto;
        grid-column: 3;
        grid-row: 3 / 5;
        background: url(images/noticias/noticia11.jpg) 0% 0% / cover no-repeat;

    }

    #news8 {
        height: 366px;
        grid-column: 3;
        grid-row: 5 / 7;
        background: url(images/noticias/noticia12.jpg) 0% 0% / cover no-repeat;

    }

    .grid-conditions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }

    .mobile-family {
        display: none;
    }

    .grid-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 5px;
    }
}

@media screen and (max-width: 1023px) {
    .nav-wrapper.desktop {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .nav-wrapper.mobile {
        display: none;
    }

    .grid-scroll-x {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 44px;
        align-items: start;
    }

    .gridthree1, .gridthree2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 44px;
        align-items: start;
    }

    .gridnews {
        height: 516px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 13px;
    }

    .one {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    .two {
        grid-column: 3 / 5;
        grid-row: 1;
    }

    .three {
        grid-column: 3;
        grid-row: 2;
    }

    .four {
        grid-column: 4;
        grid-row: 2;
    }

    .mobile-family {
        display: none;
    }
}