/* {
    outline: 3px solid black;
}*/
.container{
    max-width: 1612px;
    margin: 0px auto;
    padding: 0 8%;
}
.nave{
    padding-top: 5px;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 1%;
}
.indproduct{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 1%;
}
.pname{
    padding: 0%;
    margin: 0%;
    grid-column: 1;
    grid-row: 2;
}
.price{
    padding: 0%;
    margin: 0%;
    grid-column: 1;
    grid-row: 3;
}
.pimage{
    padding: 0%;
    margin: 0%;
    grid-column: 1;
    grid-row: 1;
}
.pdescription{
    padding: 0%;
    margin: 0%;
    grid-column: 1;
    grid-row: 4;
}
.bigmap{
    margin-top: 50px;
}

@media screen and (max-width: 639px){
.gridh ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 11px;
}
.gridbigproduct{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 1%;
}
.producttitle{
    grid-column: 1;
    grid-row: 1;
}
.gridproduct{
    grid-row: 2;
}
.all{
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    text-align: right;
}
.our{
    grid-column: 1;
    grid-row: 3;
}
.process{
    grid-column: 1;
    grid-row: 4;
}
.gridproduct article{
    padding-left: 5px;
    box-sizing: border-box;
    width: 150px;
}
.gridthree1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 11px;
} 
.gridthree2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 11px;
}
.gridnews{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 11px;
}
}
  @media screen and (min-width: 640px){
    .gridh ul{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(10px, auto);
        grid-gap: 15px;
    }
    .gridthree1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 15px;
    } 
    .gridthree2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 15px;
    }
    .gridthree2 article:last-child{
        grid-column: 1 / 3;
        grid-row: 2;
    }
    .gridnews{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 15px;
    }
    .one {
        grid-column: 1;
        grid-row: 1 / 3;
      }
    .two { 
        grid-column: 2 / 4;
        grid-row: 1;
      }
    .three {
        grid-column: 2;
        grid-row: 2;
      }
    .four {
        display: grid;
        grid-column: 3;
        grid-row: 2;
      }
  }

  @media screen and (max-width: 767px){
/*from here*/
.gridbigproduct {
    --gutter: 20px;
  }
  
.gridbigproduct {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
  }
  .gridbigproduct > * {
    grid-column: 2 / -2;
  }
  
  .gridbigproduct > .gridproduct {
    grid-column: 1 / -1;
  }
  
  .gridproduct {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - var(--gutter) * 2);
  
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
  }
  
  .gridproduct:before,
  .gridproduct:after {
    content: '';
    width: 10px;
  }
  /*to here*/
}

  @media screen and (min-width: 768px){
    .product{
        max-width: 1612px;
        margin: 0px auto;
        padding: 0 8%;
    }
    .gridh ul{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-auto-rows: minmax(10px, auto);
        grid-gap: 11px;
    }
    .gridbigproduct{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(10px, auto);
        grid-gap: 5%;
    }
    .producttitle{
        grid-column: 1 / 4;
        grid-row: 1;
    }
    .gridproduct{
        grid-column: 1 / 5;
        grid-row: 2;
    }
    .all{
        grid-column: 4;
        grid-row: 1;
    }
    .our{
        grid-column: 2;
        grid-row: 3;
    }
    .process{
        grid-column: 3;
        grid-row: 3;
    }
    .gridproduct{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 22px;
    }
    .gridthree1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 22px;
    } 
    .gridthree2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 22px;
    }
    .gridthree2 article:last-child{
        grid-column: 3;
        grid-row: 1;
    }
  }
  @media screen and (min-width: 1024px){
      .gridh ul {
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-auto-rows: minmax(10px, auto);
        grid-gap: 11px;
    }
    .gridproduct{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 44px;
    }
    .gridthree1, .gridthree2{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 44px;
    }
    .gridnews{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 44px;
    }
    .one {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }
    .two { 
        grid-column: 3 / 5;
        grid-row: 1;
      }
    .three {
        grid-column: 3;
        grid-row: 2;
      }
    .four {
        display: grid;
        grid-column: 4;
        grid-row: 2;
      }
  }