@charset "UTF-8";
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

/* —————— Variables —————— */

:root {
    --red: #C24819;
    --yellow: #EBA00C;
    --green: #758A17;
    --light: #FFFEF5;
    --dark: #40290A;

    --a-link: var(--light);
    --a-visited: #cccbc6;
    --a-hover: #EA9A07;
    --a-active: #ffb133;

    --button-link: var(--red);
    --button-visited: #CC6A14;
    --button-hover: #EBA00C;
    --button-active: #FFAE0D;

    --button-padding: 0.7rem;
    --border-radius: 1.4rem;
    --time: 0.2s;
    --ease: ease-out;
}

/* —————— Reset and constants —————— */

body {
    margin: 0;
    padding: 0;
    color: var(--dark);
    font-family: Qualion, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
    width: 100%;
}

img {
    max-width: 100%;
}

.logo img {
    height: 75px;
}

.shadow {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, .7));
}

.botones-h3{
    padding-bottom: 2%;
}
.botones-p{
    padding-bottom: 3%;
}


/* Hides `Bats'il Maya` and `Menu Principal` */
h1, nav > h2 {
    display: none;
}


/* —————— Color Classes —————— */

.light {
    color: var(--light);
}

.dark {
    color: var(--dark);
}

.light-bg {
    background-color: var(--light);
}

.dark-bg {
    background-color: var(--dark);
}

.green-bg {
    background-color: var(--green);
}

.yellow-bg {
    background-color: var(--yellow);
}

.nav .active {
    border-bottom: 3px solid var(--a-hover);
}

.yellow {
    color: var(--yellow);
}

.red {
    color: var(--red);
}

/* —————— Font Import—————— */

@font-face {
    font-family: 'Qualion';
    src: url("fonts/Qualion Bold/Qualion-Bold.eot");
    src: url("fonts/Qualion Bold/Qualion-Bold.woff") format('woff'),
    url("fonts/Qualion Bold/Qualion-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Qualion';
    src: url("fonts/Qualion/Qualion-Regular.eot");
    src: url("fonts/Qualion/Qualion-Regular.woff") format('woff'),
    url("fonts/Qualion/Qualion-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* —————— Typography —————— */

h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Qualion', sans-serif;
    font-weight: 700;
}

.h2-header, .h2-subtitle {
    color: var(--light);
    font-weight: 700;
}

.h2-small {
    padding-bottom: 1em;
    text-transform: uppercase;
}

.h2-small.product-title {
    padding: 0;
}

p {
    margin: 0;
    font-size: 15px;
    line-height: 1.4em;
}

.h2-link {
    color: var(--red);
    font-weight: 700;
}

.right-aligned {
    text-align: right;
}

.center-aligned {
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}

/* —————— General Links —————— */

a:link {
    color: var(--red);
    text-decoration: none;
}

a:hover {
    color: var(--a-hover);
    text-decoration: underline;
    text-decoration-color: var(--a-hover);
}

a:active {
    color: var(--a-active);
    text-decoration-color: var(--a-active);
}

a:visited {
    color: var(--light);
}

/* —————— Nav Links —————— */

#menu-desktop a {
    color: var(--a-link);
    border-bottom: 0 solid var(--a-hover);
    transition: border-bottom-width var(--time) var(--ease);
}

#menu-desktop a:hover {
    color: var(--a-link);
    text-decoration: none;
    border-bottom: 3px solid var(--a-hover);
    transition: border-bottom-width var(--time) var(--ease);
}

#menu-desktop a:active {
    color: var(--a-hover);
}

/* —————— Botones —————— */

.fit-content {
    width: max-content !important;
}

.button {
    padding: var(--button-padding);
    display: inline-block;
    color: var(--light);
    text-align: center;
    font-weight: 700;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.button:hover > a {
    color: var(--a-link);
    text-decoration: none;
    border-bottom: none;
}

.button:active > a {
    color: var(--a-link);
}

.button.outline {
    padding: calc(var(--button-padding) - 0.20rem);
    background-color: transparent;
    border: 3px solid var(--a-link);
    transition: border var(--time) var(--ease);
}

.button.outline a {
    color: var(--a-link);
    transition: color var(--time) var(--ease);
}

.button.outline:hover {
    color: var(--button-hover);
    border-color: var(--button-hover);
    transition: border var(--time) var(--ease);
}

.button.outline:hover > a {
    color: var(--button-hover);
    border-bottom: none;
    transition: color var(--time) var(--ease);
}

.button.outline:active {
    color: var(--button-active);
    border-color: var(--button-active);
}

.button.outline:active > a {
    color: var(--button-active);
    border-bottom: none;
}

.button.red {
    color: var(--a-link);
    background-color: var(--button-link);
    transition: background-color var(--time) var(--ease);
}

.button.dark {
    width: 100%;
    color: var(--light);
    background-color: var(--dark);
    transition: background-color var(--time) var(--ease);
}

.bnuestrocafe{
    padding: 10% 0%;
    box-sizing: border-box;
    background: url(images/botones/boton_nuestro_cafe_desde_el_cafetal_a_la_taza_batsil_maya.jpg) 70% 0 / cover no-repeat;
}
.bnosotros{
    padding: 10% 0%;
    box-sizing: border-box;
    background: url(images/botones/boton_nosotros_somos_la_planta_transformadora_de_cafe_batsil_maya.jpg) 70% 0 / cover no-repeat;
}
.bproductos{
    padding: 10% 0%;
    box-sizing: border-box;
    background: url(images/botones/boton_productos_cafe_tseltal_miel_organica_jabones_artesanales_batsil_maya.jpg) 70% 0 / cover no-repeat;
}
.button.red:hover {
    text-decoration: none;
    background-color: var(--button-hover);
    border-bottom: none;
    transition: background-color var(--time) var(--ease);
}

.button.red:active {
    background-color: var(--button-active);
}


a:visited {
    color: var(--light);
}

/* —————— Header —————— */

header {
    padding-bottom: 7vmax;
    background: url(images/fade/header_fade_light_batsil_maya.png) 0 100% / contain repeat-x,
    url(images/inicio/header_café_tseltal_solidario_trabajo_digno_batsil_maya.jpg) 70% 0 / cover no-repeat;
}

header a {
    color: var(--light);
}

header a {
    color: var(--light);
    text-decoration: none;
}

/* —————— Dónde estamos y a dónde llegamos —————— */

.map article {
    display: grid;
}

.extra-articles p {
    color: #ffffff;
}

.map p {
    max-width: 700px;
    margin: 0 auto;
    grid-row: 1;
}

.map h2 {
    margin: 2em 0;
}

.map span {
    color: var(--yellow);
}

/* —————— Nuestros clientes —————— */
.clients article h3 {
    display: none;
}

/* —————— certificados —————— */
.certificate article figure {
    width: 70%;
    margin: auto;
}

.certificate article img {
    max-width: 100%;
}

/* —————— Noticias —————— */
.gridnews article h3 {
    padding-left: 3%;
    color: var(--light);
}

.gridnews p {
    padding: 0 0 3% 3%;
    color: var(--light);
}

.one {
    background: url(images/noticias/conoce_nuevo_capeltic_universidad_iberoamericana_cdmx_batsil_maya.jpg) 0 57% / cover no-repeat;
}

.two {
    background: url(images/noticias/noticia2.jpg) 52% 60% / cover no-repeat;
}

.three {
    background: url(images/noticias/noticia3.jpg) 0 60% / cover no-repeat;
}

.four {
    background: url(images/noticias/noticia4.jpg) 0 38% / cover no-repeat;
}


/* —————— gridthree2 —————— */

.gridthree2 {
    align-content: center;
    text-align: center;
}

.gridthree2 a {
    color: var(--light);
    text-decoration: none;
}

/* —————— form —————— */
form {
    padding: 22px 0;
}

input {
    padding: 2.5% 5%;
    box-sizing: border-box;
    font-size: 1em;
    border: thin solid var(--light);
    border-radius: 33px;
}

select.num-list {
    padding: 2.5% 5%;
    box-sizing: border-box;
    font-size: 1em;
    border: thin solid var(--light);
    border-radius: 33px 0 0 33px;
}

input[name="teléfono"] {
    border-radius: 0 33px 33px 0;
}

/* —————— footer —————— */
.bigfoot {
    color: #ffffff;
    padding: 22px;
    font-size: 16px;
    background: url(images/footer/footer_mobile_granos_de_cafe_batsil_maya.jpg) 50% 50% / cover no-repeat;
}

.footer li {
    padding: 6px;
    display: inline-block;
}


@media screen and (max-width: 639px) {
    h2 {
        font-size: 40px;
    }

    .h2-header {
        font-size: 40px;
    }

    .h2-subtitle {
        padding: 1em 0;
        font-size: 25px;
    }

    .h2-small {
        font-size: 16px;
    }

    h3, .h3-big {
        font-size: 35px;
        line-height: 1.2em;
    }

    .h3-small {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    .p-big {
        font-size: 22px;
    }

    .p-small {
        font-size: 12px;
    }

    /* —————— AQUÍ EMPIEZAN ESTILOS DE NOSOTROS—————— */
    .wrapper-text {
        padding: 4% 8% 4% 3%;
    }
    #nosotros .mision-vision {
        border-bottom: 2px solid var(--yellow);
        padding-bottom: 9%;
    }
}

@media screen and (min-width: 640px) {
    h2 {
        font-size: 40px;
    }

    .h2-header {
        font-size: 50px;
    }

    .h2-subtitle {
        padding: 1em 0;
        font-size: 25px;
    }

    .h2-small {
        font-size: 16px;
    }

    h3, .h3-big {
        font-size: 35px;
        line-height: 1.2em;
        font-weight: 700;
    }

    .h3-small {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    .p-big {
        font-size: 22px;
    }

    .p-small {
        font-size: 12px;
    }

    .bigfoot {
        padding: 44px;
        font-size: 18px;
        background: url(images/footer/footer_granos_de_cafe_batsil_maya.jpg
        ) 0 0 / cover no-repeat;
    }
    /* —————— AQUÍ EMPIEZAN ESTILOS DE NOSOTROS—————— */

    #nosotros .mision {
        border-right: 2px solid var(--yellow);
        padding-right: 14%;
    }
    #nosotros .vision{
        padding-left: 14%;
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        font-size: 40px;
    }

    .h2-header {
        font-size: 65px;
    }

    .h2-subtitle {
        padding: 1em 0;
        font-size: 25px;
    }

    .h2-small {
        font-size: 16px;
    }

    h3, .h3-big {
        font-size: 35px;
        line-height: 1.2em;
        font-weight: 700;
    }

    .h3-small {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

    .p-big {
        font-size: 22px;
    }

    .p-small {
        font-size: 12px;
    }

}
@media screen and (max-width: 1023px) {
    .logo img {
        height: 50px;
    }
}

/* —————— AQUÍ EMPIEZAN ESTILOS DE NOSOTROS—————— */
#nosotros header {
    background: url(images/nosotros/header_nosotros_somos_la_planta_transformadora_de_café_batsil_maya.jpg) 70% 0 / cover no-repeat;
}

#nosotros .mision-vision {
    border-bottom: 2px solid var(--yellow);
    padding-bottom: 9%;
}

#nosotros .bnosotros{
    background: url(images/botones/boton_notostros_somos_la_planta_transformadora_de_cafe_batsil_maya.jpg) 70% 0 / cover no-repeat;
}

#nosotros .bproductos {
    background: url(images/botones/boton_productos_cafe_tseltal_miel_organica_jabones_artesanales_batsil_maya.jpg) 70% 0 / cover no-repeat;
}


/* —————— AQUÍ EMPIEZAN ESTILOS DE NUESTRO CAFÉ—————— */
#nuestrocafe header {
    background: url(images/fade/header_fade_blanco_batsil_maya.png) 0 100% / contain repeat-x,
    url(images/nuestro_cafe/header_nuestro_cafe_desde_el_cafetal_hasta_la_taza_batsil_maya.jpg) 59% 5% / cover no-repeat;
}

/* —————— AQUÍ EMPIEZAN ESTILOS DE PRODUCTOS—————— */
#productos header {
    background: url(images/fade/header_fade_cafe_batsil_maya.png) 0 100% / contain repeat-x,
    url(images/product/header_productos_batsil_maya.jpg) 70% 0 / cover no-repeat;
}

#productos .product {
    border-radius: 0;
}

#jabon a {
    color: var(--dark);
}
