/************************************************/
/*************** Mobile Navigation **************/
/************************************************/
#menu-mobile {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

/*** INPUT ***/
#menu-mobile input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/*** LABEL ***/
#menu-mobile label {
    width: 20px;
    cursor: pointer;
    display: block;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
}

/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #1d1f20;
    height: 0.15em;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

#menu-icon {
    /*max-width: 1em;*/
    height: 2px;
    position: relative;
}

#menu-mobile label #menu-icon {
    float: right;
}

#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}

#menu-icon:before {
    top: -0.4em;
}

#menu-icon:after {
    bottom: -0.4em;
}

/* Close Icon */
#menu-mobile input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}

#menu-mobile input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}

#menu-mobile input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}


/*** MENU ***/
/* Overlay */
#menu-mobile input:checked ~ #overlay {
    background: var(--light);
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}

/* List */
.menu-mobile-content {
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

#menu-mobile input:checked ~ .menu-mobile-content {
    max-height: inherit;
    opacity: 1;
}

#menu-mobile ul > li {
    margin: 0.5em 0;
}

#menu-mobile ul a {
    color: #1d1f20 !important;
    text-decoration: none;
}

#menu-mobile ul a:hover {
    text-decoration: underline;
}