@charset "UTF-8";

/* Variables */
:root {
    --dark: #40290A;
    --red: #C24819;
    --light: #FFFEF5;
    --light-80: #CCCBC4;
    --yellow: rgb(235, 160, 12);
    --coral: rgba(194, 72, 25, .5);
    --light-grey: rgba(64, 41, 10, 0.05);
    --grey:#F2F2F2;

    --a-link: var(--light);
    --a-visited: #cccbc6;
    --a-hover: #EA9A07;
    --a-active: #ffb133;

    --button-link: var(--red);
    --button-visited: #CC6A14;
    --button-hover: #EBA00C;
    --button-active: #FFAE0D;

    --button-padding: 0.7rem;
    --button-border-radius: 1.4rem;
    --time: 0.2s;
    --ease: ease-out;
    
}

/* Resets */
h1, h2, h3, h4, h5, h6, p, td, th {
    margin: 0;
    padding: 0;
}
.b-grey{
    height: 203%;
    margin-left: 251px;
    background-color: var(--grey);
    padding: 30px;

}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:link {
    color: var(--light);
    text-decoration: none;
}

nav a:visited {
    color: var(--light);
}

.tab-active{
    background: url(../admin/images/strings/tab1.svg)0% 0%/contain no-repeat;
}
.tab-disactive{
    background: url(../admin/images/strings/tab2.svg)0% 0%/contain no-repeat;
}
/* Colors */

/* font */
.bold{
    font-weight: bold;
}
.mono-font{
    font-family: IBMPlexMono, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
/* Utility classes */
.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.hide {
    visibility: hidden;
}

.kill {
    display: none;
}

/* Unit Classes */
.weight-kg:after {
    content: " KG";
}

.weight-gr:after {
    content: "gr";
}

.currency:before {
    content: "$";
}

.quantity:after {
    content: " x";
}

.discount:before {
    content: "-$";
}

.percentage:after {
    content: "%";
}

.units:after {
    content: 'u';
}

/* Icon Classes */
.email {

}

.tel {

}

/* Main grid */
.main-grid {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: white;
}

/* Toolbar */
.grid-2-space-between {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.grid-tabs {
    width: max-content;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
}

.grid-tabs > * {
    padding: 0 2em 0;
}

/* Wrappers */
.wrapper {
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
}

/*      Wrappers > Pendiente */
.wrapper.pending-item {
    /*padding: 20px;*/
    display: grid;
    grid-auto-flow: row;
}

/*      Wrappers > En route */

/*      Wrappers > Delivered */

/* Header */

/*      Header > Pendiente */
.pending-item .header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.pending-item .header h3 {
    order: 1;
}

.pending-item .header p:last-of-type {
    order: 2;
}

/*            > this right-justifies the last div (tracking number) */
.grid-end {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
}

/*  Grid Setups */
.grid-ind-product{
    display: grid;
    grid-template-columns: 75% auto;
    margin-bottom: 0;
}
.grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-2-1-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.grid-1-2-1 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.grid-1-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
.grid-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-column {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
}
.give-me-gap{
    grid-gap: 7px;
}
.radio-group{
    width: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.radio-group input{
    margin: 13px 0 0 40px;
    justify-content: center;
    text-align:left;
    transition: none;
}
.bottom-thing{
    padding: 30px 10px;
    background-color: #CCCCCC;
    border-radius: 0 0 15px 15px;
}
.bottom-thing input{
    grid-column: 3;
    justify-self: center;
}
.pending-orders .bottom-thing input{
    grid-column: auto;
}
.botton-thing-sequel{
    padding: 30px 10px;
}
.botton-thing-sequel .that-s-a-one{
    grid-column: 1 / 2;
    max-width: 1000px !important;
    color: var(--light-80);
}
.botton-thing-sequel .that-s-a-two{
    grid-column: 3;
}
/* Table Classes */
caption {
    text-align: left;
}

table {
    width: 100%;
    border-spacing: 0;
}

th {
    text-align: left;
}

.hide-all-headers th {
    display: none;
}

/*      Table Classes > Order Table */
.order-table {

}

.order-table > thead {
    display: none;
}

.order-table tr > td:nth-child(n+3) {
    /* Aligns from the quantity column to the right */
    text-align: right;
}

.client .order-table tr > td:nth-child(n+2) {
    /* Aligns from the quantity column to the right */
    text-align: right;
}

/*      Table Classes > Notes Table */
.notes-table {
    display: grid;
    grid-template-rows: auto 1fr;
}

.expandable-table.wrapper.open {
    border: 2px solid var(--coral);
}
/*      Table Classes > Collapsed Table */
.client .collapsed-view > td:nth-child(2) {
    text-align: right;
}

/*      Table Classes > Expandable Table */
table.expandable-table > tbody > tr.collapsed-view td {
    cursor: pointer;
}

table.expandable-table > tbody > tr.collapsed-view td:last-child {
    width: 15px;
    background: transparent url(icons/chevron-down.svg) center no-repeat;
    padding-right: 10px;
    transition: all var(--time) var(--ease);
}

table.expandable-table > tbody > tr.collapsed-view:hover {
    background: lightgrey;
}

table.expandable-table > tbody > tr.collapsed-view.open td:last-child {
    transform: rotate3d(1, 0, 0, 180deg);
}

table.expandable-table > tbody > tr.expanded-view {
    display: none;
}

table.expandable-table > tbody > tr.expanded-view.open {
    display: table-row;
}

/*      Table Classes > Last Orders Table */
.last-orders-table > div > div {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}
/* buttons */
.button.red {
    color: var(--a-link);
    background-color: var(--button-link) !important;
    transition: background-color var(--time) var(--ease);
    cursor: pointer;
}
.formbutton{
    padding: 25px 0 0 0;
}
input.button {
    border: none !important;
}
.button.red:hover {
    text-decoration: none;
    background-color: var(--button-hover) !important;
    border-bottom: none;
    transition: background-color var(--time) var(--ease);
}
.button.red-outline {
    padding: calc(var(--button-padding) - 0.20rem);
    background-color: transparent;
    color: var(--red);
    border: 3px solid var(--red);
    transition: border var(--time) var(--ease);
}
.button {
    padding: var(--button-padding);
    display: inline-block;
    color: var(--light);
    text-align: center;
    font-weight: 700;
    border-radius: var(--button-border-radius);
    cursor: pointer;
}
.limited-width{
    max-width: 280px;
    max-height: 25px;
}
.limited-width-2{
    max-width: 280px;
}
.limited-height{
    max-height: 50px;
}
.kill-that-border{
    border: none;
}

/* Form Classes */
textarea {
    padding: 0;
    margin: 0;
}
/* Lables, inputs, & stuff*/
label, label + span, legend, fieldset {
    padding: 10px 12px 2px;
    display: block;
}
input, textarea {
    width: 100%;
    padding: 7px 12px;
    display: block;
    color: var(--dark);
    font-family: inherit;
    font-size: 1em;
    border: 1px solid var(--light-80);
    border-radius: 33px;
    box-sizing: border-box;
    box-shadow: 0 0 0 rgba(235, 160, 12, 0.1), inset 0 0 10px 0 rgba(0, 0, 0, 0);
    transition: border-color var(--time) var(--ease), box-shadow var(--time) var(--ease);
}
input:focus, select:focus {
    outline: none;
    border: 1px solid var(--yellow);
    border-radius: 33px;
    box-shadow: 0 5px 10px rgba(235, 160, 12, 0.1);
    transition: border-color var(--time) var(--ease), box-shadow var(--time) var(--ease);
}
/* Login */
.login-wrapper {
    position: absolute;
    top: 35%;
    left: calc(50% - 150px);
    width: 300px;
}

/* Styles */
.batsil-login{
    text-align: center;
}
.batsil-login img{
    padding: 10px 0;
    width: 100px;
}
.login-background{
    color: white;
    background-color: var(--dark);
}

body{
    margin: 0;
    padding: 0;
    color: var(--dark);
    font-family: Qualion, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.padding-thing{
    padding: 30px;
}

nav{
    max-width: 250px;
    position: fixed;
    height: 100vw;
    font-size: 1.3em;
    background-color: var(--dark);
}
nav img {
    padding: 18px 66px;
    width: 50%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.padding-for-all {
    padding: 20px;
}

.padding-for-all-2 {
    padding: 10px;
}

nav .active {
    color: var(--light);
    background-color: #4D310C;
    border-left: solid 15px var(--a-active) !important;
}
nav ul{
    display: grid;
    margin-top: 30px;
    grid-gap: 11px;
}
nav ul li{
    display: block;
}
nav ul a{
    display: block;
    padding: 10px 10px 10px 70px;
    border-left: 15px solid var(--dark);
}

.cliente-active {
    background: url(../admin/images/strings/backend_strings_amarillo.svg) 16% -12% / 10% no-repeat;
}
.pedidos-active {
    background: url(../admin/images/strings/backend_strings_amarillo.svg) 16% 50% / 10% no-repeat;
}
.productos-active {
    background: url(../admin/images/strings/backend_strings_amarillo.svg) 16% 115% / 10% no-repeat;
}
.ayuda-active {
    background: url(../admin/images/strings/backend_strings_cerrar.svg) 16% 115% / 10% no-repeat;
}
.cliente-disactive {
    background: url(../admin/images/strings/backend_strings.svg) 16% -12% / 10% no-repeat;
}
.pedidos-disactive {
    background: url(../admin/images/strings/backend_strings.svg) 16% 50% / 10% no-repeat;
}
.productos-disactive {
    background: url(../admin/images/strings/backend_strings.svg) 16% 115% / 10% no-repeat;
}
.ayuda-disactive {
    background: url(../admin/images/strings/backend_strings_ayuda.svg) 16% -21% / 10% no-repeat;
}
.cerrar-disactive {
    background: url(../admin/images/strings/backend_strings_ayuda.svg) 16% 127% / 10% no-repeat;
}
.big-margin{
    margin-left: 300px;
}

.radius-left {
    border-radius: 15px 0 0 15px;
}

.radius-right {
    border-radius:0 15px 15px 0;
}

.border-thing{
    border-top: 2px solid var(--coral);
    border-bottom: 2px solid var(--coral);
}
.border-thing table, .border-thing caption{
    padding-left: 20px;
    border-left: 2px solid var(--coral);
}
.border-thing table:first-of-type, .border-thing table:first-of-type caption{
    padding-left: 0;
    border-left: none;
}

.last-orders-table div{
    padding: 8px;
    background-color: var(--light-grey);
    border-radius: 15px;
}
.order-table caption{
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
}
.last-orders-table div div{
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}


.product-info{
    padding: 7px;
    background-color: white;
    border: 1px solid #D1CDC7;
}


.round-red-border{
    border: 2px solid var(--coral);
    background-color: #F2F2F2;;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.02);
}

.round-red-border fieldset{
    border:transparent;
    padding-left: 20px;
    border-left: 2px solid var(--light-80);
}
.round-red-border fieldset:first-of-type, .round-red-border fieldset:nth-of-type(5){
    padding-left: 0;
    border-left: none;
}


.margin-top-thing{
    margin-top: 20px;
}
.pending-orders .header{
    font-weight: bold;
    border-bottom: 2px solid var(--light-80);
    padding-bottom: 5px;
    margin-bottom: 18px;
}

.pending-order-tables-thing table{
    padding-left: 20px;
    border-left: 2px solid var(--light-80);
}
.pending-order-tables-thing table caption{
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 11px;
    padding-left: 20px;
    border-left: 2px solid var(--light-80);
}
.pending-order-tables-thing table:first-of-type{
    padding-left: 0;
    border-left: none;
}
.kill-me{
    border-left: transparent !important;
    border-bottom: transparent !important;
    padding-left:0 !important;
}


.lonely-ul{
    grid-gap: 0 !important;
    margin-top: 50% !important;
}

#search{
    margin-left: 522px;
    max-width: 280px;
}

.edit-pencil{
    margin-top: 16px;
    width: 50px;
    height: 50px;
    background: url(../admin/images/strings/lapiz_back.svg) 0 20% / 55% no-repeat;
}
.edit-pencil a{
    display: block;
    width: 100%;
    height: 100%;
}
.width-80{
    width: 865px;
}

.exterminate{
    font-weight: bold;
    padding-top: 12px;
    color: var(--button-link) !important;
    padding-left: 72px;
}

.grid-ind-product h3{
    margin-top: 2px;
}

.grid-ind-product p{
    margin-top: -1px;
}
