@charset "UTF-8";

/* Variables */
:root {
    --red: #C24819;
    --yellow: #EBA00C;
    --green: #758A17;
    --light: #FFFEF5;
    --dark: #40290A;

    --a-link: var(--light);
    --a-visited: #cccbc6;
    --a-hover: #EA9A07;
    --a-active: #ffb133;

    --button-link: var(--red);
    --button-visited: #CC6A14;
    --button-hover: #EBA00C;
    --button-active: #FFAE0D;

    --button-padding: 0.7rem;
    --button-border-radius: 1.4rem;
    --time: 0.2s;
    --ease: ease-out;
}

/* Resets */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* Colors */


/* Constant classes */
.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

/* Main grid */
.main-grid {
    display: grid;
    grid-template-columns: min-content auto;
}

/* Toolbar */
.grid-2-space-between {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.grid-tabs {
    width: max-content;
    margin: auto;
    display: grid;
    grid-auto-flow: column;
}

.grid-tabs > * {
    padding: 0 2em 0;
}

/* Wrappers */
.wrapper {
    border: 1px solid black;
    border-radius: 15px;
}

/*      Wrappers > Pendiente */
.wrapper.pending-item {
    /*padding: 20px;*/
    display: grid;
    grid-auto-flow: row;
}

/*      Wrappers > En ruta */

/*      Wrappers > Entrega */

/* Header */

/*      Header > Pendiente */
.pending-item .header {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.pending-item .header h3 {
    order: 1;
}

.pending-item .header p:last-of-type {
    order: 2;
}

/*            > this right-justifies the last div (tracking number) */
.wrapper.pending-item div:last-of-type {
    display: grid;
    justify-content: right;
}

.grid-end {
    display: grid;
    grid-auto-flow: column;
    justify-content: right;
}

/*  grid-two-thirds (Contenido Principal de Pendiente) */
.grid-two-thirds {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

/* Pedido Table */
.order-table {
}

table > thead {
    display: none;
}

table {
    width: 100%;
    border-spacing: 0;
}

table td {
    width: fit-content;
}

tr > td:nth-child(n+2) {
    text-align: right;
}

.pseudo-table span:last-of-type {
    float: right;
}